    /*
    Flaticon icon font: Flaticon
    Creation date: 15/11/2016 12:18
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-avatar:before { content: "\f100"; }
.flaticon-books-stack-of-three:before { content: "\f101"; }
.flaticon-home:before { content: "\f102"; }
.flaticon-landscape-representing-photo-archive:before { content: "\f103"; }
.flaticon-medical:before { content: "\f104"; }
.flaticon-medical-specialist:before { content: "\f105"; }
.flaticon-medicine:before { content: "\f106"; }
.flaticon-multiple-users-silhouette:before { content: "\f107"; }
.flaticon-padlock:before { content: "\f108"; }
.flaticon-plus-cross-signal-in-a-square:before { content: "\f109"; }
.flaticon-rain:before { content: "\f10a"; }
.flaticon-repair-service:before { content: "\f10b"; }
.flaticon-science:before { content: "\f10c"; }
.flaticon-shape:before { content: "\f10d"; }
.flaticon-telephone-auricular:before { content: "\f10e"; }
.flaticon-user-avatar-with-check-mark:before { content: "\f10f"; }
.flaticon-weekly-calendar:before { content: "\f110"; }
    
    $font-Flaticon-avatar: "\f100";
    $font-Flaticon-books-stack-of-three: "\f101";
    $font-Flaticon-home: "\f102";
    $font-Flaticon-landscape-representing-photo-archive: "\f103";
    $font-Flaticon-medical: "\f104";
    $font-Flaticon-medical-specialist: "\f105";
    $font-Flaticon-medicine: "\f106";
    $font-Flaticon-multiple-users-silhouette: "\f107";
    $font-Flaticon-padlock: "\f108";
    $font-Flaticon-plus-cross-signal-in-a-square: "\f109";
    $font-Flaticon-rain: "\f10a";
    $font-Flaticon-repair-service: "\f10b";
    $font-Flaticon-science: "\f10c";
    $font-Flaticon-shape: "\f10d";
    $font-Flaticon-telephone-auricular: "\f10e";
    $font-Flaticon-user-avatar-with-check-mark: "\f10f";
    $font-Flaticon-weekly-calendar: "\f110";