	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/11/2016 12:18
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 16px;
font-style: normal;
margin-left: 10px;
}

.flaticon-avatar:before { content: "\f100"; }
.flaticon-books-stack-of-three:before { content: "\f101"; }
.flaticon-home:before { content: "\f102"; }
.flaticon-landscape-representing-photo-archive:before { content: "\f103"; }
.flaticon-medical:before { content: "\f104"; }
.flaticon-medical-specialist:before { content: "\f105"; }
.flaticon-medicine:before { content: "\f106"; }
.flaticon-multiple-users-silhouette:before { content: "\f107"; }
.flaticon-padlock:before { content: "\f108"; }
.flaticon-plus-cross-signal-in-a-square:before { content: "\f109"; }
.flaticon-rain:before { content: "\f10a"; }
.flaticon-repair-service:before { content: "\f10b"; }
.flaticon-science:before { content: "\f10c"; }
.flaticon-shape:before { content: "\f10d"; }
.flaticon-telephone-auricular:before { content: "\f10e"; }
.flaticon-user-avatar-with-check-mark:before { content: "\f10f"; }
.flaticon-weekly-calendar:before { content: "\f110"; }